<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="navigation/hodNav.html"></div>
</head>
<body>
<div class="container">
  <h2 class="display-3"> Add Subjects here</h2>
  <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
    <div class="card-body">
      <div
              class="alert alert-danger"
              th:if="${error}"
              th:text="${error}"
      ></div>
      <div
              class="alert alert-success"
              th:if="${success}"
              th:text="${success}"
      ></div>
      <form action="/hod/addSub" method="post">
        <label>Name</label>
        <input type="text"
               class="form-control"
               name="name"
               placeholder="Sub Name"
        >
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </div>
</div>
</body>
</html>