<head>
    <link rel="stylesheet" href="/styles.css">

    <nav class="navbar navbar-expand-lg mt-3 navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">JNTUACEA Employee Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="/student/register">Student
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/emp/register">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hod/login">HOD</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/principal/login">Principal</a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>